.modal-dialog.modal-lg
  .modal-content
    .modal-header
      button [type="button" class="close" data-dismiss="modal" aria-hidden="true"]
        | ×
      h3 #{row.product.name.gsub('&quot;', '')}

    .modal-body
      .container-fluid
        .row
          .column_product
            - row.order_items.each do |row_item|
              - row_item.count
            .img
              = image_tag("#{row.product.image+'0/700.jpg'}")
              br
              = link_to 'Подробнее о данном товаре...', product_path(row.product.id)
            .description
              dl
                dt <i>Цена Росс. руб.:</i>
                dd <i><b>#{row.product.get_price}</b></i>
                dt <i>Артикул</i>:
                dd <i><b>#{row.product.id}</b></i>
                dt <i>Остаток на складе:</i>
                /dd <i><b>#{row.product.product_params.find_by_name('stock_balance')[:value]}</b></i>
                dt <i>Страна-производитель:</i>
                dd <i><b>НЕТ ДАННЫХ</b></i>
                dt <i>Размер:</i>
                /dd <i><b>#{row.product.product_params.find_by_name('size')[:value]}</b></i>
                dt <i>Материал:</i>
                /dd <i><b>#{row.product.product_params.find_by_name('material')[:value]}</b></i>
                dt <i>В боксе:</i>
                dd <i><b>НЕТ ДАННЫХ</b></i>
                dt <i>Упаковано в:</i>
                /dd <i><b>#{row.product.product_params.find_by_name('box_type')[:value]}</b></i>
                dt <i>Сертификат:</i>
                /dd <i><b>#{row.product.product_params.find_by_name('certificate')[:value]}</b></i>
                dt <i>Вес:</i>
                /dd <i><b>#{row.product.product_params.find_by_name('weight')[:value]}</b></i>

              = render 'orders/row_info', row: row
          .column_comment
            .all_comments
              = render 'rows/partials/all_comments_for_row', row: row
            - if user_signed_in?
              .add_comment
                = render 'rows/partials/add_comment_for_row', row: row