- order_item = @order_item if order_item.nil?
-amount = order_item.product.get_price_int * order_item.count.to_i
-second_part = amount.to_s[-3, 3]
-first_part = amount.to_s.gsub(/.{3}$/, '')
-all_amount = first_part + ' ' + second_part.to_s
=all_amount