| $('.cart_menu').html("
= escape_javascript (render partial: 'layouts/partials/cart_menu')
| ");
| $('##{@product.id}').html("
= escape_javascript (render partial: 'products/add_in_cart')
| ");
| $('##{@product.id}').show()
/| $('.add_in_cart').html("
/= escape_javascript (render partial: 'products/add_in_cart_from_show')
/| ");
