| $('.cart_menu').html("
= escape_javascript (render partial: 'layouts/partials/cart_menu')
| ");
| $('.cart_items').html("
= escape_javascript (render partial: 'cart_items')
| ");

| document.getElementById('delete_from_cart').setAttribute('style','visibility:hidden');
| document.getElementById('delete_from_cart').setAttribute('style','visibility:visible');
| setTimeout(closeForm, 2000);

| function closeForm(){
|   document.getElementById('delete_from_cart').setAttribute('style','visibility:hidden');
/|   console.log('delete product from cart and sleep 2s')
| }