| $('.current_order').html("
= escape_javascript (render partial: 'orders/current_order_items')
| ");
| $('.cart_menu').html("
= escape_javascript (render partial: 'layouts/partials/cart_menu')
| ");

| document.getElementById('delete_from_current_order').setAttribute('style','visibility:hidden');
| document.getElementById('delete_from_current_order').setAttribute('style','visibility:visible');
| setTimeout(closeForm, 2000);

| function closeForm(){
|   document.getElementById('delete_from_current_order').setAttribute('style','visibility:hidden');
| }