@font-face {
  font-family: Chevin;
  src: url("../fonts/Chevin-Cyrillic-Bold-Italic_10485.ttf");
}


* { margin:0; padding:0; }
html, body, #wrap { height: 100%; font-family: 'Roboto', sans-serif; /*font-family: Chevin, serif;*/}
body > #wrap {height: auto; min-height: 100%; min-width: 1000px;}
#main { padding-bottom: 330px; }  /* must be same height as the footer */

.clearfix:after {content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;}

.clearfix {display: inline-block;}

/* Hides from IE-mac */
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

.red{
  color: red;
}

.loading{
  width: 600px;
  height: 450px;
  background: url(loading.gif) 50% no-repeat;
  border: 1px solid black;
  border-radius: 5px;
}

.container-fluid_index{
  background: #ffffff;
  width: 100%;
  min-width: 1200px;
}

.container-fluid{
  max-width: 1280px;
  min-width: 1280px;
  background: #ffffff;
}

header {
  height:185px;
}

/*HEADER*/
.center{
  width: 920px;
  margin: 0 auto;
}
.center_index{
  width: 100%;
  margin: 0 auto;
}

#top{
  float: left;
  width: 100%;
  padding: 0;
  color: #000000 !important;
  .row_top{
    margin-right: 0 !important;
  }
}

.navbar-inverse{
  background-color: #ffffff;
  border: none;
}

.z-index{
  z-index: inherit;
}

.logo{
  padding-left: 0;
  padding-right: 0;
  margin-left: 35px;
  margin-top: 5px;
  text-align: center;
  height: 166px;
  p{
    color: #1c4c28;
    font-weight: bold;
    font-size: 12px;
  }
  a{
    font-family: Arial,serif;
    text-decoration: none !important;
    img{
      //width: 125px;
      width: 190px;
      margin-top: 20px;
    }
  }
}

.company_logo{
  float: left;
}
.name{
  float: left;
  width: 55%;
  padding-left: 15px;
}

.menu_left{
  float: left;
  margin-top: 35px;
  padding-left: 0;
  padding-right: 40px;
  color: #6cb2db;
  font-size: 13px;
  min-width: 620px;


  /*SEARCH*/
  #imaginary_container{
    float: left;
    width: 100%;
    margin-top: -6px;
    padding-right: 0;
    margin-left: 15px;
    .search_input{
      width: 90%;
      height: 50px;
      padding: 15px;
      border: 4px solid #6cb2db;
      font-size: 15px;
    }
  }
  .stylish-input-group .input-group-addon{
    background: white !important;
  }
  .stylish-input-group .form-control{
    border-right:0;
    box-shadow:0 0 0;
    border-color:#ccc;
  }
  .stylish-input-group button{
    border:0;
    background:transparent;
  }

  .search{
    color: #000000;
  }

  .input-group{
    display: block;
  }

  .search_button{
    margin-left: -84px;
    background: #2e3192;
    color: white;
    border: none;
    font-weight: bold;
    padding: 13px 19px 11px 20px;
  }

  #search_result{
    width: 100%;
    position: relative;
  }

  .search_result{
    display: block;
    width: 370px;
    padding-left: 15px;
    padding-right: 30px;
    position: absolute;
    background-color: rgba(241, 241, 241, 0.95);
    z-index: 10000;
    border-radius: 0 0 5px 5px;
    padding-top: 10px;
  }

  .search_result span{
    margin-right: -10px;
    margin-top: 5px;
    float: right;
  }

  .a_class{
    color: #101010 !important;
    font-size: 15px !important;
  }

  .search_result span:hover{
    cursor: pointer;
    color: #700418;
    font-weight: bold;
    transition: 0.3s;
  }

  .search_result li{
    float: left;
    width: 100%;
    margin-bottom: 15px;
    height: auto;
    border-bottom: 1px dotted #a9a9a9;
    list-style-type: none;
  }

  .all_results{
    color: #101010 !important;
    font-size: 15px !important;
  }
  /*END_SEARCH*/
}

.menu_right{
  float: right;
  min-width: 430px;
  margin-top: -60px;
  padding-left: 20px;
  padding-right: 0;
  a{
    font-size: 20px;
    color: #6cb2db;
    text-decoration: none;
  }
  a:hover{
    text-decoration: underline;
  }
  .my_cart{
    float: right;
    padding-left: 15px;
  }
  .login{
    float: left;
    text-align: center;
    width: 45%;
    color: #6cb2db;
    .login_href{
      width: 100%;
      float: left;
    }
  }
  .contacts{
    float: left;
    text-align: right;
    width: 225px;
    .velcom, .viber, .mts, .life{
      float: right;
      width: 77%;
      color: #6cb2db;
      margin-bottom: -5px;
      img{
        float: left;
        margin-right: 15px;
        width: 25px;
      }
      p{
        float: left;
      }
    }
    .viber{
      float: right;
      width: 15%;
    }
    .mts, .life{
      margin-right: 15%;
    }
  }
}

.menu_head{
  color: #6cb2db;
  text-align: center;
  margin-top: -35px;
  .btn-group {
    .dropdown-toggle{
      color: #6cb2db;
      text-decoration: none;
      border: 1px solid #ffffff;
      margin-right: 80px;
      font-size: 19px;
      background: none;
    }
  }

  .btn-group:hover > .dropdown-menu {
    left: inherit;
    padding: 0;
    margin: 0;
    display: block !important;
  }

  .static{
    color: #6cb2db;
    text-decoration: none;
    border: 1px solid #ffffff;
    margin-right: 80px;
    font-size: 19px;
    background: none;
  }

  .static:hover{
    border: 1px solid #9EA3A9;
    border-radius: 2px;
  }
  .course{
    float: left;
    width: 110px;
    line-height: 15px;
    text-align: center;
    margin-top: -7px;
  }

}

.address_link{
  float: left;
  width: 100%;
  font-style: italic;
  margin-bottom: 15px;
  a{
    color: #3b4381;
    font-weight: bold;
    font-size: 12px;
  }
}

.faq{
  margin-left: 5%;
  max-width: 90%;
}
#how1, #pay, #delivery, #collective_cart, #problems, #faq, #info{
  margin-top: -120px;
  padding-top: 120px;
  display: block;
}
/*MODAL_FORM*/
#getCall{
  textarea{
    resize: vertical;
  }
  .thin{
    font-weight: 100;
    margin-left: 10px;
  }

}
.error{
  //margin-bottom: -25px;
}

#name-error, #email-error, #phone-error{
  top: -50px;
  font-size: 12px;
  border: 1px solid #2e6da4;
  position: relative;
  background-color: #292929;
  line-height: 30px;
  color: white;
  text-align: center;
  border-radius: 5px;
  font-family: sans-serif;
  padding: 0 10px;
  float: left;
}

#name-error:after, #email-error:after, #phone-error:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-bottom: 15px solid #292929;
  bottom: 20px;
  left: 0;
}
#user_name-error, #user_email-error, #user_password-error, #user_password_confirmation-error, #user_phone-error{
  top: 10px;
  font-size: 12px;
  border: 1px solid #2e6da4;
  position: relative;
  background-color: #292929;
  line-height: 25px;
  color: white;
  text-align: center;
  border-radius: 5px;
  font-family: sans-serif;
  padding: 0 10px;
  float: left;
}

#user_name-error:after, #user_email-error:after, #user_password-error:after, #user_password_confirmation-error:after, #user_phone-error:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-bottom: 15px solid #292929;
  bottom: 20px;
  left: 0;
}

.form-group{
  margin-bottom: 15px;
}

/*END_MODAL_FORM*/

/*VALIDATOR*/
.popover-content{
  padding: 0 14px !important;
  margin-top: -10px !important;
}
/*END_VALIDATOR*/

/*FIXED_MENU*/


#nav.affix {
  position: fixed;
  top: 0;
  width: 100%;
  z-index:200;
  //overflow-y: scroll;
}
.fixed_menu{
  .top_menu{
    top: 105px;
    position: fixed;
    z-index: 999;
    background: #204d74;
  }

  /* bootstrap 3 helpers */
  .navbar-form input, .form-inline input {
    width:auto;
  }

  #sidebar.affix-top {
    position: static;
  }

  #sidebar.affix {
    position: fixed;
    top: 80px;
  }

  .top{
    background: #6cb2db;
    height: 65px;
  }

  a{
    color: white;
  }

  .info{
    padding: 15px 5px 10px;
    text-align: center;

    .btn-group {
      .dropdown-toggle-categories{
        text-decoration: none;
        border: none;
        font-size: 19px;
        background: none;
        padding: 15px;
      }
    }
    .btn-group:hover > .dropdown-menu{
      left: inherit;
      padding: 0;
      margin: 0;
      display: block !important;
      a{color: #6cb2db;}
      button{color: #ffffff;}
    }
    .dropdown-submenu:hover > .dropdown-menu{
      padding: 0;
      margin: 0;
      display: block !important;
      a{color: #6cb2db;}
      button{color: #ffffff;}
      float: left;
      top: -4px;
      left: 200px;
      min-height: 611px;
    }

    .index button, .order_menu, .categories_menu, .meeting_menu,
    .rows_menu, .orders_menu, .create_question{
      font-size: 19px;
      color: #ffffff;
      display: inline-block;
    }

    .index button, .order_menu a, .categories_menu a, .meeting_menu a,
    .rows_menu a, .orders_menu a, .create_question a, .rows_menu button{
      color: #ffffff;
      padding: 5px;
      border: none;
      background: none;
    }
    .index button, .rows_menu button{
      outline: none;
    }
    .index button{
      padding: 14px !important;
    }

    .index button:hover,.order_menu a:hover, .categories_menu a:hover, .meeting_menu a:hover,
    .rows_menu a:hover, .orders_menu a:hover, .create_question a:hover, .rows_menu button:hover{
      background: #ffffff;
      color: #000000;
      padding: 5px;
      border-radius: 3px;
      transition: 0.2s;
      text-decoration: none;
    }

    .create_question abbr{
      border: none;
      cursor: pointer !important;
    }

    .cart_menu{
      padding-right: 10px;
      vertical-align: middle;
      color: #ffffff;
      display: inline-block;
      margin-top: -12px;
      margin-left: 15px;
      a{
        font-size: 12px;
      }
      .cart_count {
        float: right;
        width: 100px;
        text-align: center;
        line-height: 12px;
      }
    }

    .create_question{
      button{
        background:none!important;
        border:none;
        padding:0!important;
        font: inherit;
        cursor: pointer;
        color: #ffffff;
        outline: none;
        margin-left: -10px;
      }
      button:hover{
        text-decoration: underline;
      }
      button:active{

      }
    }

    .contact_menu{
      font-size: 16px;
      margin-left: 15px;
      button{
        border: none;
        background: none;
        outline: none;
        color: #ffffff;
      }
    }

    .button-no-border{
      border-radius: 2px;
      margin-top: 1px;
    }

    .subcategory{
      margin-left: 158px !important;
      top: 0;
      min-height: 506px;
    }
  }



}
.modal-open{
  overflow: visible;
  padding-right: 0;
}

/*END_FIXED_MENU*/

/*END_HEADER*/



/*CATALOG_INDEX*/
.align_center{
  float: left;
  width: 100%;
  padding-top: 20px;
  text-align: center;
  margin: 0 auto;
  background: #ebe9e9;
  min-width: 1350px;
}

.catalog{
  float: left;
  //text-align: center;
}

.catalog_info_old{
  float: left;
  text-align: left !important;
  //margin-bottom: 290px !important;
  max-width: 227px !important;
  background: #ffffff !important;
  height: auto !important;
}

.catalog_info_old, .catalog_info{
  text-align: center;
  margin-bottom: 30px;
  width: 227px;
  //width: 20%;
  height: 400px;
  display: inline-block;
  background: #ffffff;
  .title{
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    line-height: 15px;
    margin-bottom: 10px;
    a, label{
      font-size: 12px !important;
      font-weight: bold;
    }
    p{
      padding-top: 15px;
      padding-left: 10px;
      font-size: 14px;
    }
    label{
      color: #616161;
      padding-top: 5px;
      margin-bottom: -3px;
    }
  }
  .border_for_rows{
    width: 215px;
    margin-top: 56px;
    border: 1px solid #A1A6AB;
    border-radius: 3px;
    min-height: 210px;
    .check_category{
      float: left;
      margin-left: 5px;
    }
  }
  .review{
    height: 330px;
    width: 180px;
    background: #2e3192;
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    .title{
      text-align: center;
      text-transform: uppercase;
      padding-top: 20px;
      img{
        width: 120px;
        height: 120px;
      }

    }
    .body{
      width: 170px;
      padding-left: 10px;
      text-align: justify;
      float: left;
    }
  }
  .last_visited_products{
    width: 180px;
    height: 300px;
    border: 1px solid #2E2F30;
    margin-bottom: 10px;
    text-align: center;
    overflow: hidden;
    .last_visited_product{
      float: left;
      width: 45%;
      margin-top: 10px;
      margin-left: 5px;
      height: 135px;
      border: 1px solid #CACACA;
      img{
        width: 80%;
      }
      p{
        font-size: 8px;
        color: #057e89;
        height: 60px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .last_visited_product:hover{
      cursor: pointer;
      transition: 0.3s;
      transform: scale(1.5);
      background: #ffffff;
    }
  }

  .table > tbody > tr > td,
  .table > tbody > tr > th,
  .table > tfoot > tr > td,
  .table > tfoot > tr > th,
  .table > thead > tr > td,
  .table > thead > tr > th{
    padding: 4px;
  }

  .cal > .simple-calendar{
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    .next_meeting{
      background: #e12a2a;
      color: #ffffff;
    }
    .next_stop{
      background: #2e3192;
      color: #ffffff;
    }
    .next_bringing{
      background: #00bff3;
      color: #ffffff;
    }

  }

  .calendar_info{
    .info_1, .info_2, .info_3{
      float: left;
      width: 95%;
      margin-left: 15px;
      span{
        float: left;
        width: 22px;
        height: 22px;
        margin-right: 10px;
      }
      p{
        float: left;
        font-size: 14px;
        color: #7b7676;
        font-style: italic;
      }
    }
    .info_1{
      span{
        background: #2e3192;
      }
    }
    .info_2{
      span{
        background: #00bff3;
      }
    }
    .info_3{
      span{
        background: #e12a2a;
      }
    }
  }
  .calendar_stop{
    width: 100%;
    float: left;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    color: #8b8989;
    margin-top: 15px;
    .timer{
      float: left;
      width: 95%;
      height: 60px;
      margin-left: 5px;
      background: #e5e5e5;
      border-radius: 7px;
      margin-top: -10px;
      #clock{
        width: 95%;
        text-align: center;
        .blockTimer{
          float: left;
          font-size: 35px;
          font-style: normal;
          color: #000000;
          font-weight: normal;
          width: 30%;
          text-align: center;
          padding-left: 5px;
          .desc{
            font-size: 10px;
            float: left;
            width: 32%;
            padding-left: 20px;
            margin-top: -5px;
            height: 10px;
            color: rgba(0, 0, 0, 0.5);
          }
        }
      }
    }
  }
}

.catalog_old{
  //width: 800px !important;
  width: 1000px !important;
  height: auto !important;
  margin-left: 30px;
}

.catalog_old, .catalog{
  width: 100%;
  padding: 0;
  height: 610px;
  text-align: center;
  .address_link{
    float: left;
    width: 100%;
    font-style: italic;
    margin-bottom: 15px;
    text-align: left !important;
    a{
      color: #3b4381;
      font-weight: bold;
      font-size: 12px;
    }
  }
  h4{
    font-size: 16px;
    color: #f2a31a;
    font-weight: bold;
    font-style: italic;
  }
  .title{
    text-align: center;
    font-size: 30px;
    //font-style: italic;
    color: #050505;
    text-transform: uppercase;
  }
  .list_categories{
    float: left;
    width: 100%;
    padding-bottom: 10px;
    a{
      float: left;
      height: 170px;
      width: 25%;
      text-align: center;
      border: 1px solid #ffffff;
    }
    a:hover{
      transition: 0.2s;
      border: 1px solid #2E2F30;
      border-radius: 4px;
      text-decoration: none;
    }
  }

  .head_products{
    float: left;
    width: 100%;
    height: 30px;
    background: #c2e5e2;
    border: solid 1px rgba(0, 0, 0, 0.5);
    .sort, .show, .paginate{
      float: left;
      width: 32%;
      text-align: center;
    }
    .sort{
      color: #837f7f;
      font-size: 12px;
      font-style: italic;
      font-weight: bold;
      width: 35%;
      p{
        float: left;
        margin-left: 25px;
        margin-top: 7px;
      }
      select{
        float: left;
        margin-top: 7px;
        margin-left: 5px;
        color: #080808;
        font-size: 10px;
      }
    }
    .show{
      a{
        margin-right: 5px;
      }

      .by_line, .by_two, .by_three{
        float: left;
        width: 17px;
        height: 15px;
        margin-top: 7px;
      }

      .by_line, .by_two{
        margin-left: 110px;
        background-image: url("sort_icons/sort_by_line.png");
      }
      .by_line:hover{
        transition: 0.1s;
        background-image: url("sort_icons/sort_by_line_2.png");
      }

      .by_two{
        width: 19px;
        background-image: url("sort_icons/sort_by_two.png");
      }
      .by_two:hover{
        transition: 0.1s;
        background-image: url("sort_icons/sort_by_two_2.png");
      }

      .by_three{
        width: 16px;
        background-image: url("sort_icons/sort_by_three.png");
      }
      .by_three:hover{
        transition: 0.1s;
        background-image: url("sort_icons/sort_by_three_2.png");
      }

    }
    .paginate{
      color: #080808;
      font-size: 10px;
      font-style: italic;
      font-weight: bold;
      margin-top: 7px;
      p{
        float: left;
        margin-left: 70px;
      }
      a{
        float: left;
        margin-left: 7px;
      }
    }
  }
  .row_products{
    float: left;
    width: 100%;
    display: table;
    border-bottom: 1px solid rgba(46, 47, 48, 0.5);
  }


  /*CATALOG_ITEMS*/

  #slideShowIndexCatalog #slidesContainerIndexCatalog {
    margin:0 auto;
    width: 100% !important;
    height: 500px;
    padding-top: 20px;
    overflow:auto; /* разрешаем прокрутку */
    position:relative;
    .catalog_items{
      display: inline-block;
      vertical-align: top;
      zoom: 1;
      text-align: center;
      width: 20%;
      margin-bottom: 10px;

      p{
        font-size: 24px;
        color: #7a7a7b;
        font-style: italic;
        font-weight: bold;
      }
      .subcategory_name{
        float: left;
        width: 100%;
        line-height: 15px;
        text-align: left;
        padding-left: 5px;
        margin-bottom: 7px;
      }
      .link{
        color: #07c9da;
        font-size: 12px;
        font-style: italic;
        font-weight: bold;
      }
      a{
        float: left;
        width: 100%;
        border: 1px solid #ffffff;
      }
      a:hover{
        transition: 0.2s;
        border: 1px solid #2E2F30;
        border-radius: 4px;
        text-decoration: none;
      }
    }
  }

  .control_catalog {
    display: inline-block;
    width:39px;
    height:220px;
    cursor: pointer;
    z-index: 101;

  }

  #leftControlCatalog {
    //top: 345px;
    background: transparent url("next_2.png") no-repeat 0 0;
    transform: rotate(180deg);
    z-index: 101;
    height: 27px;
    position:absolute;
  }

  #rightControlCatalog {
    height: 27px;
    position: absolute;
    margin-top: -20px;
    margin-right: -10px;
    background: transparent url("next_2.png") no-repeat 0 0;
  }

  /*END_CATALOG_ITEMS*/


  .product{
    //float: left;
    width: 33%;
    max-width: 350px;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    padding-top: 10px;
    padding-left: 5px;
    z-index: 100;
    border-radius: 7px;
    display: inline-block;
    .image{
      float: left;
      width: 45%;
      img{
        max-height: 100px;
        max-width: 100px;
      }
    }
    .title{
      float: left;
      width: 55%;
      text-align: left;
      font-size: 10px;
      line-height: 5px;
      text-transform: none;
      a {
        float: left;
        color: #057e89;
        margin-bottom: 10px;
        line-height: 11px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
      p{
        line-height: 10px;
        margin-bottom: 3px;
        display: none;
      }
    }
    .description{display: none;}
    .sale{
      float: left;
      width: 50%;
      position: absolute;
      left: 50%;
      top: 37%;
      color: #f28709;
      font-size: 16px;
      font-style: italic;
      font-weight: bold;
      span{
        color: #000000;
        font-size: 10px;
        margin-left: 10px;
      }
      .second_part_new_price{
        font-size: 12px;
        span{
          color: #000000;
          font-size: 12px;
          margin-left: 2px;
        }
      }
    }
    .info{
      float: left;
      width: 100%;
      height: 50px;
      text-align: left;
      position: absolute;
      left: 0;
      bottom: 10px;
      padding-left: 10px;
      .params{
        float: left;
        width: 65%;
        p{
          font-size: 10px;
          line-height: 5px;
        }
      }
      .cart{
        float: left;
        width: 30% !important;
        margin: 0;
        position:absolute;
        top: 5px;
        left:70%;
        bottom:0;
        .field{
          float: left;
          margin-right: 3px;
          input[type="number"]{
            width: 40px;
            height: 20px;
          }
          .min {
            float: left;
            margin-top: 5px;
            position: absolute;
          }
          p{
            font-size: 9px !important;
            line-height: 0;
          }
        }
        .actions{
          float: left;
          input[type="submit"]{
            background: url("cart_button.png");
            width: 29px;
            height: 24px;
            border: none;
          }
        }
        .ok{
          img{
            width: 30px;
            margin-top: -42px;
            float: left;
            margin-left: 30px;
          }
        }
        .favourites{
          float: left;
          width: 100%;
          margin-left: 13px;
          margin-top: -20px;
          .favourite{
            float: left;
            input[type="submit"]{
              float: left;
              width: 15px;
              height: 15px;
              background: url("star.png") no-repeat;
              border: none;
              outline: none;
            }
            input[type="submit"]:hover{
              background: url("star-hover.png") no-repeat;
              background-size: 15px;
            }
            .button_bg{
              background: url("star-hover.png") no-repeat !important;
              background-size: 15px !important;
            }
          }
        }
        .favourites_in_cart{
          float: left;
          width: 100%;
          margin-left: 5px;
          margin-top: -25px;
          .favourite{
            float: left;
            input[type="submit"]{
              float: left;
              width: 15px;
              height: 15px;
              background: url("star.png") no-repeat;
              border: none;
              outline: none;
            }
            input[type="submit"]:hover{
              background: url("star-hover.png") no-repeat;
              background-size: 15px;
            }
            .button_bg{
              background: url("star-hover.png") no-repeat !important;
              background-size: 15px !important;
            }
          }
        }
      }
    }
  }
  .product:hover{
    border: 1px solid rgba(38, 38, 38, 0.25);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background: #ffffff;
    position: relative;
    z-index: 150;
    transform: scale(1.2);
    .title {
      p{
        //display: block;
      }
    }
    //transform: scale(1.1, 1.1);
    //-webkit-transition: 0.1s;
    //-moz-transition: 0.1s;
    //-ms-transition: 0.1s;
    //-o-transition: 0.1s;
    //transition: 0.1s;
  }

  .product_in_line{
    float: left;
    width: 100%;
    height: 210px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    padding-top: 10px;
    padding-left: 5px;
    z-index: 100;
    border-radius: 7px;
    .image{
      float: left;
      width: 25%;
      img{
        max-height: 200px;
        max-width: 150px;
      }
    }
    .title{
      float: left;
      width: 25%;
      text-align: left;
      font-size: 16px;
      line-height: 5px;
      text-transform: none;
      a {
        float: left;
        font-weight: bold;
        margin-top: 60px;
        color: #057e89;
        margin-bottom: 15px;
        line-height: 20px;
      }
      p{
        line-height: 10px;
        margin-bottom: 3px;
        display: none;
      }
    }
    .description{
      display: block;
      font-style: italic;
      line-height: 12px;
      font-size: 12px;
      position: absolute;
      left: 50%;
      top: 15%;
      width: 195px;
      padding-left: 10px;
    }

    .sale{
      float: left;
      width: 18%;
      position: absolute;
      left: 74%;
      color: #f28709;
      font-size: 18px;
      font-style: italic;
      font-weight: bold;
      margin-top: 60px;
      text-align: center;
      span{
        color: #000000;
        font-size: 11px;
        margin-left: 5px;
      }
      .second_part_new_price{
        font-size: 14px;
        span{
          color: #000000;
          font-size: 14px;
          margin-left: 2px;
        }
      }
    }
    .info{
      float: left;
      width: 50%;
      height: 50px;
      text-align: left;
      position: absolute;
      left: 50%;
      top: 35%;
      bottom: 10px;
      padding-left: 10px;
      .params{
        float: left;
        width: 50%;
        display: none;
        p{
          font-size: 12px;
          line-height: 5px;
          font-style: italic;
        }
      }
      .cart{
        float: left;
        width: 20%;
        position: absolute;
        left: 82%;
        bottom: 0;
        .field{
          float: left;
          margin-right: 5px;
          input[type="number"]{
            width: 40px;
            height: 20px;
          }
        }
        .actions{
          float: left;
          input[type="submit"]{
            background: url("cart_button.png");
            width: 29px;
            height: 24px;
            border: none;
          }
        }
        .ok{
          img{
            width: 30px;
            margin-top: -42px;
            float: left;
            margin-left: 30px;
          }
        }
        .favourites{
          float: left;
          width: 100%;
          margin-left: 13px;
          margin-top: -20px;
          .favourite{
            float: left;
            input[type="submit"]{
              float: left;
              width: 15px;
              height: 15px;
              background: url("star.png") no-repeat;
              border: none;
              outline: none;
            }
            input[type="submit"]:hover{
              background: url("star-hover.png") no-repeat;
              background-size: 15px;
            }
            .button_bg{
              background: url("star-hover.png") no-repeat !important;
              background-size: 15px !important;
            }
          }
        }
        .favourites_in_cart{
          float: left;
          width: 100%;
          margin-left: 5px;
          margin-top: -25px;
          .favourite{
            float: left;
            input[type="submit"]{
              float: left;
              width: 15px;
              height: 15px;
              background: url("star.png") no-repeat;
              border: none;
              outline: none;
            }
            input[type="submit"]:hover{
              background: url("star-hover.png") no-repeat;
              background-size: 15px;
            }
            .button_bg{
              background: url("star-hover.png") no-repeat !important;
              background-size: 15px !important;
            }
          }
        }
      }
    }
  }
  .pagination{
    float: left;
  }
}

.catalog_list{
  //width: 785px;
  width: 1000px;
  padding: 0;
  .address_link{
    float: left;
    width: 100%;
    font-style: italic;
    margin-bottom: 15px;
    a{
      color: #3b4381;
      font-weight: bold;
      font-size: 12px;
    }
  }
  .catalog_items{
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    margin-bottom: 50px;
    .sub_category{
      float: left;
      width: 33%;
      height: 190px;
      text-align: center;
      a{
        float: left;
        width: 100%;
        border: 1px solid #ffffff;
      }
      a:hover {
        transition: 0.2s;
        border: 1px solid #2E2F30;
        border-radius: 4px;
        text-decoration: none;
      }

    }
    p{
      font-size: 16px;
      color: #7a7a7b;
      font-style: italic;
      font-weight: bold;
      text-align: center;
    }
    .link{
      color: #07c9da;
      font-size: 12px;
      font-style: italic;
      font-weight: bold;
      float: left;
      margin-left: 35px;
      width: 100%;
    }
  }
}

.hot_product{
  margin-bottom: -385px;
  display: inline-block;
  background: #ffffff;
  width: 75%;
  margin-left: 25px;
  height: 400px;
  .title{
    font-size: 25px;
    padding-top: 30px;
    margin-left: 80px;
    color: #515151;
    font-weight: bold;
    font-style: italic;
    float: left;
  }
  .products{
    float: left;
    width: 100%;
    height: 320px;
    #slideshowIndex #slidesContainerIndex {
      margin:0 auto;
      width: 1065px !important;
      height: 320px;
      overflow:auto; /* разрешаем прокрутку */
      position:relative;
      .product{
        float: left;
        width: 265px !important;
        height: 160px;
        position: relative;
        padding-top: 10px;
        padding-left: 5px;
        z-index: 100;
        text-align: center;
        border: 1px solid #ffffff;
        .image{
          float: left;
          img{
            max-height: 125px;
          }
        }
        .product_title{
          float: left;
          width: 130px;
          text-align: left;
          font-size: 14px;
          line-height: 5px;
          height: 30px;
          overflow: hidden;
          padding-left: 10px;
          font-weight: bold;
          font-style: italic;
          a {
            color: #057e89;
            margin-bottom: 15px;
            line-height: 15px;
          }
          p{
            line-height: 10px;
          }
        }
        .info{
          float: left;
          width: 130px;
          height: 50px;
          text-align: center;
          padding-left: 10px;
          padding-top: 10px;
          .params{
            float: left;
            width: 65%;
            p{
              font-size: 10px;
              line-height: 5px;
            }
          }
          .sale{
            float: left;
            font-size: 14px;
            font-weight: bold;
            font-style: italic;
            .second_part_new_price{
              margin-top: 5px;
              color: #f28709;
              font-size: 12px;
              span{
                color: #000000;
                font-size: 12px;
                margin-left: 2px;
              }
            }
          }
        }
        .row{
          float: left;
          width: 130px;
          height: 50px;
          text-align: center;
          padding-left: 30px;
          padding-top: 10px;
          font-size: 10px;
          a{
            float: left;
            margin-top: -5px;
          }
        }

      }
      .product:hover{
        border: 1px solid #2E2F30;
        transition: 0.2s;
      }
    }
  }

  .control_hot_product {
    display:block;
    width:39px;
    height:220px;
    cursor: pointer;
    z-index: 101;

  }
  #leftControl {
    margin-top: 120px;
    float: left;
    top: inherit;
    background: transparent url("next_prev.png") no-repeat 0 0;
    transform: rotate(180deg);
    z-index: 101;
    height: 40px;
  }
  #rightControl {
    float: right;
    margin-top: -200px;
    top: inherit;
    height: 40px;
    background: transparent url("next_prev.png") no-repeat 0 0;
  }
}

/*END_CATALOG_INDEX*/

/*SHOW_USER*/
.avatar{
  float: left;
  width: 27%;
  img{
    text-align: center;
    width: 100%;
  }
}

.avatar_edit{
  float: left;
  width: 100%;
  border-bottom: 1px dotted #262626;
}

.avatar_icon {
  float: left;
  width: 40%;
  text-align: center;
  margin-bottom: 5px;
  img {
    width: 60%;
  }
}

.avatar_icon_right_menu {
  float: left;
  width: 20%;
  text-align: center;
  margin-top: 5px;
  img {
    width: 80%;
  }
}

.name_right_menu{
  /*ограничение текста многоточие*/
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /*end ограничение текста многоточие*/
  .link{
    text-align: center;
    font-size: 13px;
    //color: #000000;
    color: #6cb2db;
    font-weight: bold;
  }
}

.exit{
}

.avatar_button{
  width: 60%;
  margin-top: 15px;
  float: left;
  span, input, button{
    margin-top: 0;
    margin-bottom: 10px;
  }
  p{
    color: rgba(38,38,38,0.4);
    font-size: 14px;
  }
}



.line{
  float: left;
  width: 100%;
  border-top: 1px solid #a0a0a0;
  margin-top: 15px;
}

.info_for_reg{
  float: left;
  /*width: 100%;*/
  /*margin-top: 10px;*/
  /*background: rgba(128, 128, 128, 0.1);*/
}

.info_for_reg dl dt, .avatar dl dt{
  clear: left;
  float: left;
  padding-top: 5px;
  text-align: right;
  width: 40%;
}

.info_for_reg dl dd, .avatar dl dd{
  display: block;
  padding-left: 20px;
  padding-top: 10px;
  margin: 0;
  position: relative;
  float: left;
  width: 300px;
}

.avatar p{
  float: left !important;
  padding-top: 5px;
  font-size: 12px;
  width: 100%;
  margin-bottom: 0px;
}

.avatar dl dt{
  clear: left;
  float: left;
  padding-top: 5px;
  text-align: right;
  width: 40%;
  dl dd{
    display: block;
    padding-left: 20px;
    padding-top: 10px;
    margin: 0;
    position: relative;
    float: left;
    width: 150px;
  }
}
/*END_SHOW_USER_AND_CRAFTER*/

/*REGISTRATION_AND_EDITOR_PAGE*/
.login_title{
  text-align: center;
  margin: 0 auto;
  width: 65%;
}

.left{
  text-align: left;
  width: 100%;
}

.login_form, .reg_form{
  margin: 0 auto;
  width: 365px;
  .form-control{
    margin-top: 10px;
  }
  p{
    color: rgba(79, 80, 81, 0.78);
    font-size: 10px;
    padding-left: 10px;
    padding-top: 5px;
  }
}

.reg_form{
  width: 100%;
  padding-top: 25px;
}

.register-btn, .btn-login-crafter{
  /*float: left;*/
  background: #2e3192 !important;
  border-radius: 0;
  border: none;
  outline: none;
  width: 100%;
  margin-top: 10px;
}

.login_form #check_box, .reg_form #check_box{
  margin-left: 0 !important;
}

.login_crafter{
  .checkbox, .radio {
    float: left;
    width: 100%;
  }
}

.login_form .label_login, .reg_form .label_login{
  margin-top: 10px;
  font-weight: 300;
}


.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

/*END_REGISTRATION_AND_EDITOR_PAGE*/

/*INFO_LINKS*/

.row{
  margin-right: 0;
}

.info_links{
  height: 140px;
  background: #e1e4e5;
  .height_90{
    height: 90%;
    float: left;
    width: 25%;
  }
  .block_links{
    float: left;
    margin-top: 10px;
    padding-bottom: 10px;
    font-style: italic;
    line-height: 15px;
    width: 100%;
    border-right: 1px solid rgba(46, 47, 48, 0.3);
  }
  .table_border{
    border-right: 1px solid rgba(46, 47, 48, 0.3);
    height: 100%;
  }
  a, p{
    float: left;
    width: 60%;
    margin-left: 50px;
    margin-top: 15px;
  }
  p{
    margin-bottom: -5px;
  }
  .social_links{
    float: left;
    width: 100%;
    padding-left: 30px;
    a{
      float: left;
      width: 40px;
      margin-left: 0;
      margin-right: 15px;
      padding-left: inherit;
    }
  }
}
/*END_INFO_LINKS*/

/*FOOTER*/

#footer{
  position: relative;
  margin-top: -330px;
  clear:both;
  min-width: 1000px;
  background: #e1e4e5;
}

.footer{
  height: 190px;
  background: #6dcff6;
  font-size: 10px;
  color: #736e6e;
  padding-top: 30px;
  padding-left: 40px;
}

.footer_catalog{
  height: 190px;
  width: 400px;
}

.footer_catalog a{
  text-decoration: none;
}

.column{
  -webkit-column-width: 110px;
  -moz-column-width: 110px;
  column-width: 110px;

  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;

  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px;

  -webkit-column-rule: 1px solid #ccc;
  -moz-column-rule: 1px solid #ccc;
  column-rule: 1px solid #ccc;
}

/*END_FOOTER*/

/*DOWN_TOP*/
.go-up, .go-down {
  display: none;
  position: fixed;
  z-index: 9999;
  right: 1%;
  background: #4F4F4F;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  text-align: center;
  font: normal normal 42px/42px sans-serif;
  text-shadow: 0 1px 2px #000;
  opacity: .5;
  padding: 3px;
  margin-bottom: 5px;
  width: 45px;
  height: 45px;
}
.go-up { bottom: 60px; }
.go-down { bottom: 10px; }
.go-down:hover,
.go-up:hover {
  opacity: 1;
  box-shadow: 0 5px 0.5em -1px #666;
}
/*END_DOWN_TOP*/

.meetings {
  width: 100%;
  h4{
    font-size: 16px;
    color: #f2a31a;
    font-weight: bold;
    font-style: italic;
  }
  /*MEETINGS*/
  .tabs_meetings {
    margin-bottom: 20px;

    input[type="submit"] {
      margin-left: 0;
      background: #2e3192;
      color: white;
      border: none;
      padding: 2px 5px 2px 5px;
    }

    #meetings, #post, #courier {
      float: left;
      position: fixed;
    }

    .menu1 > a,
    .menu1 #post:target ~ a:nth-of-type(1),
    .menu1 #courier:target ~ a:nth-of-type(1),
    .menu1 > div {
      padding: 5px;
      border: 1px solid #aaa;
    }

    .menu1 > a {
      line-height: 26px;
      color: #fff;
      font-size: 13px;
      font-weight: bold;
      font-style: italic;
      padding-left: 7px;
      padding-right: 7px;
      text-decoration: none;
    }

    #post,
    #courier,
    .menu1 > div,
    .menu1 #post:target ~ div:nth-of-type(1),
    .menu1 #courier:target ~ div:nth-of-type(1) {
      display: none;
    }

    .menu1 > div:nth-of-type(1),
    .menu1 #post:target ~ div:nth-of-type(2),
    .menu1 #courier:target ~ div:nth-of-type(3) {
      display: block;
      float: left;
      width: 100%;
      padding-bottom: 30px;
      margin-bottom: 15px;
    }

    .menu1 > a:nth-of-type(1),
    .menu1 #post:target ~ a:nth-of-type(2),
    .menu1 #courier:target ~ a:nth-of-type(3) {
      border-bottom: 2px solid #fff;
    }
    .meetings{background: #56a7d7;}
    .post{background: #3add41;}
    .courier{background: #ffb11a;}
  }
  /*END TABS*/
}

