* { margin:0; padding:0; }
html, body, #wrap { height: 100%;}
body > #wrap {height: auto; min-height: 100%;}
#main { padding-bottom: 380px; }  /* must be same height as the footer */
.clearfix:after {content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac */
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

.container-fluid{
  max-width: 1000px;
  background: #ffffff;
}

header {
  height:105px;
}

/*HEADER*/
.center{
  width: 920px;
  margin: 0 auto;
}

#top{
  float: left;
  width: 100%;
  padding: 0;
  color: #000000 !important;
}

.navbar-inverse{
  background-color: #ffffff;
  border: none;
}

.z-index{
  z-index: inherit;
}

.logo{
  padding-left: 0;
  padding-right: 0;
  width: 90px;
  margin-right: 15px;
  margin-top: 5px;
  p{
    color: #1c4c28;
    font-weight: bold;
  }
  a{
    font-family: Arial,serif;
    text-decoration: none !important;
    font-size: 35px;
  }
}

.menu_left{
  float: left;
  margin-top: 35px;
  padding-left: 0;
  padding-right: 0;
  color: #6cb2db;
  font-size: 13px;
  a{
    color: #6cb2db;
    float: left;
    margin-right: 15px;
    text-decoration: none;
  }
  .course{
    float: left;
    width: 110px;
    line-height: 15px;
    text-align: center;
    margin-top: -7px;
  }
}

.menu_right{
  float: right;
  width: 300px;
  margin-top: -30px;
  padding-left: 0;
  padding-right: 0;
  a{
    font-size: 14px;
    color: #6cb2db;
    text-decoration: none;
  }
  a:hover{
    text-decoration: underline;
  }
  .my_cart{
    float: right;
    padding-left: 15px;
  }
  .login{
    float: left;
    text-align: center;
    width: 50%;
    color: #6cb2db;
    margin-top: 15px;
    .login_href{
      width: 100%;
      float: left;
    }
  }
  .contacts{
    float: left;
    text-align: right;
    width: 50%;
    .velcom, .viber, .mts, .life{
      //float: left;
      float: right;
      width: 74%;
      color: #6cb2db;
      margin-bottom: -5px;
      img{
        float: left;
        margin-right: 15px;
        width: 25px;
      }
      p{
        float: left;
      }
    }
    .viber{
      float: right;
      width: 15%;
    }
    .mts, .life{
      margin-right: 15%;
    }
  }
}
/*MODAL_FORM*/
#getCall{
  textarea{
    resize: vertical;
  }
}
.error{
  margin-bottom: -25px;
}

#name-error, #email-error, #phone-error{
  top: -50px;
  font-size: 12px;
  border: 1px solid #2e6da4;
  position: relative;
  background-color: #292929;
  line-height: 30px;
  color: white;
  text-align: center;
  border-radius: 5px;
  font-family: sans-serif;
  padding: 0 10px;
}

#name-error:after, #email-error:after, #phone-error:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top: 10px solid #292929;
  top: 100%;
  left: 50%;
  margin-left: -10px;
}

.form-group{
  margin-bottom: 15px;
}

/*END_MODAL_FORM*/

/*VALIDATOR*/
.popover-content{
  padding: 0 14px !important;
  margin-top: -10px !important;
}
/*END_VALIDATOR*/

/*FIXED_MENU*/
.fixed_menu{
  .top_menu{
    top: 105px;
    position: fixed;
    z-index: 999;
    background: #204d74;
  }

  /* bootstrap 3 helpers */
  .navbar-form input, .form-inline input {
    width:auto;
  }

  #nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:200;
  }

  #sidebar.affix-top {
    position: static;
  }

  #sidebar.affix {
    position: fixed;
    top: 80px;
  }

  .top{
    background: #6cb2db;
    height: 50px;
    padding-top: 15px;
  }

  a{
    color: white;
  }
  #imaginary_container{
    float: left;
    width: 265px;
    margin-top: -5px;
    padding-left: 0;
    padding-right: 0;
    .search_input{
      width: 200px;
    }
  }
  .stylish-input-group .input-group-addon{
    background: white !important;
  }
  .stylish-input-group .form-control{
    border-right:0;
    box-shadow:0 0 0;
    border-color:#ccc;
  }
  .stylish-input-group button{
    border:0;
    background:transparent;
  }

  .search{
    color: #000000;
  }

  .input-group{
    display: block;
  }

  .search_button{
    margin-left: 0px;
    background: #2e3192;
    color: white;
    border: none;
    padding: 2px 5px 2px 5px;
  }

  #search_result{
    width: 100%;
    position: relative;
  }

  .search_result{
    display: block;
    width: 370px;
    padding-left: 15px;
    padding-right: 30px;
    position: absolute;
    background-color: rgba(241, 241, 241, 0.95);
    z-index: 10000;
    border-radius: 0 0 5px 5px;
    padding-top: 10px;
  }

  .search_result span{
    margin-right: -10px;
    margin-top: 5px;
    float: right;
  }

  .a_class{
    color: #101010 !important;
    font-size: 15px !important;
  }

  .search_result span:hover{
    cursor: pointer;
    color: #700418;
    font-weight: bold;
    transition: 0.3s;
  }

  .search_result li{
    float: left;
    width: 100%;
    margin-bottom: 15px;
    height: auto;
    border-bottom: 1px dotted #a9a9a9;
    list-style-type: none;
  }

  .all_results{
    color: #101010 !important;
    font-size: 15px !important;
  }

  .info{
    float: left;
    margin-left: 55px;
    margin-top: -5px;

    .order_menu, .categories_menu, .meeting_menu,
    .cart_menu, .rows_menu, .orders_menu, .create_question{
      float: left;
      padding-right: 10px;
      font-size: 11px;
      padding-top: 4px;
      color: #ffffff;
    }

    .rows_menu{
      margin-right: 10px;
    }

    .cart_menu{
      .cart_count {
        float: right;
        width: 82px;
        text-align: center;
        line-height: 12px;
      }
    }

    .create_question{
      button{
        background:none!important;
        border:none;
        padding:0!important;
        font: inherit;
        cursor: pointer;
        color: #ffffff;
        outline: none;
        margin-left: -10px;
      }
      button:hover{
        text-decoration: underline;
      }
      button:active{

      }
    }

    .contact_menu{
      font-size: 16px;
      margin-left: 20px;
    }

    .cart_menu{
      margin-top: -12px;
      margin-left: 15px;
    }

    .button-no-border{
      border-radius: 2px;
      margin-top: 1px;
    }

    .subcategory{
      margin-left: 158px !important;
      top: 0;
      min-height: 506px;
    }
  }



}
/*END_FIXED_MENU*/

/*END_HEADER*/



/*CATALOG_INDEX*/
.catalog_list, .catalog{
  float: left;
  text-align: center;
}

.catalog_list{
  //height: 330px;
  float: left;
  padding-left: 15px;
  text-align: left;
  line-height: 5px;
  color: #000000;
  p{
    padding-top: 15px;
    //padding-bottom: 10px;
  }
  a{
    p{
      padding-top: 0;
    }
  }
}

.catalog{
  .list_categories{
    float: left;
    width: 100%;
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 1px dotted rgba(46, 47, 48, 0.5);
    a{
      float: left;
      width: 25%;
      text-align: left;
    }
  }
  .row_products{
    float: left;
    width: 100%;
    border-bottom: 1px solid rgba(46, 47, 48, 0.5);
  }
  .catalog_items{
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    text-align: center;
    width: 24%;
    .subcategory_name{
      float: left;
      width: 100%;
      line-height: 15px;
      text-align: left;
      padding-left: 5px;
      margin-bottom: 7px;
    }
    //img{}
  }
  .product{
    float: left;
    width: 33%;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    padding-top: 10px;
    padding-left: 5px;
    z-index: 100;
    border-radius: 15px;
    .image{
      float: left;
      width: 50%;
      img{
        max-height: 125px;
        //width: 100%;
      }
    }
    .title{
      float: left;
      width: 50%;
      text-align: left;
      font-size: 10px;
      line-height: 5px;
      a {
        float: left;
        color: #057e89;
        margin-bottom: 15px;
        line-height: 15px;
      }
      p{
        line-height: 10px;
      }
    }
    .info{
      float: left;
      width: 100%;
      height: 50px;
      text-align: left;
      position: absolute;
      left: 0;
      bottom: 10px;
      padding-left: 10px;
      .params{
        float: left;
        width: 50%;
        p{
          font-size: 10px;
          line-height: 5px;
        }
      }
      .sale{
        float: left;
        width: 20%;
        font-size: 16px;
        position:absolute;
        left:50%;
        bottom:10px;
      }
      .cart{
        float: left;
        width: 30%;
        position:absolute;
        left:70%;
        bottom:0;
        .field{
          float: left;
          margin-right: 5px;
          input[type="number"]{
            width: 40px;
            height: 20px;
          }
        }
        .actions{
          float: left;
          input[type="submit"]{
            background: url("cart_button.png");
            width: 29px;
            height: 24px;
            border: none;
          }
        }
        .ok{
          img{
            width: 30px;
            margin-top: -42px;
            float: left;
            margin-left: 30px;
          }
        }
        .favourites{
          float: left;
          width: 100%;
          margin-left: 13px;
          margin-top: -20px;
          .favourite{
            float: left;
            input[type="submit"]{
              float: left;
              width: 15px;
              height: 15px;
              background: url("star.png") no-repeat;
              border: none;
              outline: none;
            }
            input[type="submit"]:hover{
              background: url("star-hover.png") no-repeat;
              background-size: 15px;
            }
            .button_bg{
              background: url("star-hover.png") no-repeat !important;
              background-size: 15px !important;
            }
          }
        }
        .favourites_in_cart{
          float: left;
          width: 100%;
          margin-left: 5px;
          margin-top: -25px;
          .favourite{
            float: left;
            input[type="submit"]{
              float: left;
              width: 15px;
              height: 15px;
              background: url("star.png") no-repeat;
              border: none;
              outline: none;
            }
            input[type="submit"]:hover{
              background: url("star-hover.png") no-repeat;
              background-size: 15px;
            }
            .button_bg{
              background: url("star-hover.png") no-repeat !important;
              background-size: 15px !important;
            }
          }
        }
      }
    }
  }
  .product:hover{
    border: 1px solid rgba(38, 38, 38, 0.25);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background: #ffffff;
    position: relative;
    z-index: 150;
    //transform: scale(1.1, 1.1);
    //-webkit-transition: 0.1s;
    //-moz-transition: 0.1s;
    //-ms-transition: 0.1s;
    //-o-transition: 0.1s;
    //transition: 0.1s;
  }
  .pagination{
    float: left;
  }
}
/*END_CATALOG_INDEX*/


/*SHOW_PRODUCT*/
.zoom_list{
  float: left;
  img{
    //width: 95%;
  }
  .rating{
    float: left;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    p{
      font-size: 12px;
      line-height: 5px;
    }
  }
}

.description_product{
  .title{
    float: left;
    color: #f2a31a;
    font-size: 20px;
  }
  .info{
    float: left;
    width: 100%;
    dl{
      width: 400px;
      padding-top: 25px;
      font-size: 12px;
      dt{
        float: left;
        width: 190px;
        font-weight: normal;
      }
    }
  }
  .add_in_cart{
    float: left;
    width: 330px;
    height: 95px;
    border: 2px solid #ffb11a;
    border-radius: 10px;
    background: #feeaff;
    .price{
      float: left;
      width: 150px;
      font-size: 20px;
      font-weight: bold;
      color: #f28709;
      padding-top: 35px;
      padding-left: 40px;
    }
    .favourites{
      float: left;
      margin-left: 43px;
      margin-bottom: -20px;
      padding-top: 5px;
      .favourite{
        float: left;
        input[type="submit"]{
          float: left;
          width: 15px;
          height: 15px;
          background: url("star.png") no-repeat;
          border: none;
          outline: none;
        }
        input[type="submit"]:hover{
          background: url("star-hover.png") no-repeat;
          background-size: 15px;
        }
        .button_bg{
          background: url("star-hover.png") no-repeat !important;
          background-size: 15px !important;
        }
      }
    }

    .ok{
      img{
        width: 30px;
        float: left;
        margin-top: -10px !important;
      }
    }
    .count_for_cart{
      float: left;
      width: 150px;
      height: 50px;
      margin-top: 25px;
      border-radius: 5px;
      background: #d2e2fe;
      padding-top: 10px;
      padding-left: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      .count{
        float: left;
        margin-right: 5px;
        margin-top: 10px;
        margin-left: 10px;
        width: 130px;
        .field_count{
          float: left;
          input[type="number"]{
            float: left;
            width: 65px;
            height: 20px;
            border: 1px solid rgba(46, 47, 48, 0.45);
            border-radius: 5px;
            outline: none;
            padding-left: 5px;
            margin-top: -8px;
          }
          p{
            font-size: 9px;
            font-weight: bold;
            padding-left: 10px;
          }
        }
        img{
          float: left;
          margin-top: -20px;
          margin-left: 10px;
        }
      }
      .actions{
        float: left;
        input[type="submit"]{
          background: url("cart_button.png");
          width: 29px;
          height: 24px;
          border: none;
          margin-top: -10px;
          margin-left: 10px;
        }
      }
    }
  }
  .description{
    float: left;
    width: 100%;
    text-align: justify;
    font-size: 12px;
    margin-top: 25px;
  }
  .all_comments{
    .all_comments_not_nil{
      float: left;
      width: 100%;
      height: 150px;
      .comments{
        float: left;
        overflow: auto;
        height: 140px;
        width: 60%;
        .comment{
          float: left;
          width: 100%;
          margin-bottom: 15px;
          border-bottom: 1px dotted rgba(46, 47, 48, 0.3);
          .title, .body{
            float: left;
            width: 95%;
            font-size: 16px;
            font-weight: bold;
            font-style: italic;
          }
          .body{
            font-size: 14px;
            font-weight: normal;
          }
          .delete a{
            text-decoration: none;
          }
        }
      }
    }
    .all_comments_nil{
      float: left;
      width: 100%;
      height: 50px;
      margin-top: 20px;
      margin-bottom: -50px;
      .comment{
        float: left;
        width: 60%;
        border-bottom: 1px dotted rgba(46, 47, 48, 0.3);
        .title{
          float: left;
          width: 95%;
          font-size: 18px;
          font-weight: bold;
          font-style: italic;
        }
      }
    }
  }
  .add_comment{
    float: left;
    width: 430px;
    height: 175px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

.other_product{
  float: left;
  width: 100%;
  height: 250px;
  margin-bottom: 15px;
  .title{
    font-size: 18px;
    color: #515151;
    font-weight: bold;
    font-style: italic;
  }
  .products{
    float: left;
    width: 100%;
    height: 220px;
    border-top: 1px solid rgba(81, 81, 81, 0.5);
    border-bottom: 1px solid rgba(81, 81, 81, 0.5);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5), 0px -2px 6px 0 rgba(0, 0, 0, 0.5)
  }
}
/*END_SHOW_PRODUCT*/

/*CART*/
.cart{
  .table th{
    text-align: center;
  }
  p{
    font-size: 12px;
    color: #837f7f;
    font-style: italic;
  }
  .cart_items{
    position: relative;
    .table{
      margin-bottom: 60px !important;
    }
    .check-box{
      float: left;
      padding-top: 30px;
    }
    .favourite{
      float: left;
      margin-top: 31px;
      input[type="submit"]{
        float: left;
        width: 15px;
        height: 15px;
        margin-top: 1px;
        background: url("star.png") no-repeat;
        border: none;
        outline: none;
      }
      input[type="submit"]:hover{
        background: url("star-hover.png") no-repeat;
        background-size: 15px;
      }
      .button_bg{
        background: url("star-hover.png") no-repeat !important;
        background-size: 15px !important;
      }
    }
    .product_cart{
      float: left;
      width: 300px;
      .description_cart{
        float: left;
        width: 200px;
        .title{
          color: #057e89;
          padding-bottom: 12px;
          line-height: 13px;
        }
        p{
          font-size: 12px;
          color: #515151;
          line-height: 5px;
        }
        textarea{
          resize: none;
        }
      }
      .image_cart{
        width: 90px;
        float: left;
        text-align: center;
        padding-right: 10px;
        img{
          max-height: 80px;
        }
      }
    }
    .row{
      text-align: center;
      .progress{
        margin-bottom: 5px !important;
        width: 80%;
        margin-left: 10px;
      }
      p{
        font-size: 10px;
        color: #000;
      }
      .new_row{
        text-decoration: none;
        font-style: italic;
        padding: 5px 10px;
        background: #ffff00;
      }
      a{

      }
    }
    .row_cart{
      text-align: center;
    }
    .price, .amount{
      width: 100%;
      border: none;
      background: none;
      text-align: center;
    }
    .counter{
      float: left;
      text-align: center;
      width: 110px;
      .count_field{
        float: left;
        width: 50px;
        height: 22px;
        padding: 0 5px;
      }
      .minus, .plus{
        float: left;
        outline: none;
        text-align: center;
        border: none;
      }
      .minus{
        width: 20px;
        height: 20px;
        background: url("plus_minus.png") 245px;
        background-size: cover;
        margin-right: 4px;
      }

      .plus{
        width: 20px;
        height: 20px;
        background: url("plus_minus.png") 0px -220px;
        background-size: cover;
        margin-left: 4px;
      }
    }
    .delete{
      text-align: center;

      a{
        font-size: 20px;
        background: rgba(0, 0, 0, 0.65);
        color: white;
        border-radius: 50%;
        width: 22px;
        height: 22px;
        float: left;
        text-align: center;
        padding-top: 10px;
        line-height: 0;
        text-decoration: none;
      }
      a:hover{
        background: rgba(0, 0, 0, 0.85);
        transition: 0.3s;
      }
    }
  }
  .info{
    .total_amount{
      float: left;
      width: 40%;
      font-size: 16px;
      color: #000;
      font-weight: bold;
      font-style: italic;
      margin-bottom: 60px;
    }
    .total_by_cart{
      float: right;
      width: 60%;
      margin-bottom: 60px;
      p {
        font-style: italic;
        font-weight: bold;
        font-size: 14px;
        color: #515151;
        line-height: 15px;
      }
      .total_items, .total_amount_by_cart{
        float: left;
        width: 50%;
      }
    }
    p{
      font-size: 15px;
      color: #000;
    }
    .info_1, .info_2, .info_3{
      float: left;
      width: 50px;
      height: 22px;
      margin-right: 15px;
    }
    .info_1{
      background: #6fbaa7;
    }
    .info_2{
      background: #798dbd;
    }
    .info_3{
      background: #a773bc;
    }
  }
}
.bg{
  background: #6fbaa7;
}
.record_table {
  width: 100%;
  border-collapse: collapse;
}
.record_table tr:hover {
  background: #eee;
}
.record_table td {
  border: 1px solid #6fbaa7;
}
.highlight_row {
  background: #6fbaa7;
}
.highlight_row_click {
  background: #798dbd;
}

.button_cart_left, .button_cart_right{
  position: absolute;
  bottom: -45px;
}

.button_cart_right{
  right: 0;
}

.button_cart_left{
  left: 0;
}
/*END_CART*/

/*CALENDAR*/
.calendar{
}
/*END_CALENDAR*/


/*SEARCH*/
.search_crafter_title{
  float: left;
  width: 25%;
  border-right: solid 1px #d8d8d8;
  padding: 10px;
  .search_criterion{
    width: 100%;
    float: left;
    .subcategories_title{
      float: left;
      width: 100%;
      font-size: 16px;
      font-weight: 100;
      padding-top: 5px;
      padding-bottom: 5px;
    }
    .categories, label{
      float: right;
      width: 100%;
    }
    .subcategories, label{
      float: right;
      width: 90%;
    }
    .city, label{
      float: right;
      width: 90%;
    }
    .checkbox{
      float: left;
    }
  }
}
.search_crafter_result{
  float: left;
  width: 65%;
}

/*END_SEARCH*/

/*CONTENT*/

/*END_CONTENT*/

/*SHOW_USER*/
.avatar{
  float: left;
  width: 27%;
  img{
    text-align: center;
    width: 100%;
  }
}

.avatar_edit{
  float: left;
  width: 100%;
  border-bottom: 1px dotted #262626;
}

.avatar_icon {
  float: left;
  width: 40%;
  text-align: center;
  margin-bottom: 5px;
  img {
    width: 60%;
  }
}

.avatar_icon_right_menu {
  float: left;
  width: 20%;
  text-align: center;
  margin-top: 5px;
  img {
    width: 80%;
  }
}

.name_right_menu{
  /*ограничение текста*/
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /*end ограничение текста*/
  .link{
    font-size: 13px;
    color: #000000;
    font-weight: bold;
  }
}

.exit{
  float: right;
  color: gray;
  padding: 2px;
}

.avatar_button{
  width: 60%;
  margin-top: 15px;
  float: left;
  span, input, button{
    margin-top: 0;
    margin-bottom: 10px;
  }
  p{
    color: rgba(38,38,38,0.4);
    font-size: 14px;
  }
}



.line{
  float: left;
  width: 100%;
  border-top: 1px solid #a0a0a0;
  margin-top: 15px;
}

.info_for_reg{
  float: left;
  /*width: 100%;*/
  /*margin-top: 10px;*/
  /*background: rgba(128, 128, 128, 0.1);*/
}

.info_for_reg dl dt, .avatar dl dt{
  clear: left;
  float: left;
  padding-top: 5px;
  text-align: right;
  width: 40%;
}

.info_for_reg dl dd, .avatar dl dd{
  display: block;
  padding-left: 20px;
  padding-top: 10px;
  margin: 0;
  position: relative;
  float: left;
  width: 300px;
}

.avatar p{
  float: left !important;
  padding-top: 5px;
  font-size: 12px;
  width: 100%;
  margin-bottom: 0px;
}

.avatar dl dt{
  clear: left;
  float: left;
  padding-top: 5px;
  text-align: right;
  width: 40%;
  dl dd{
    display: block;
    padding-left: 20px;
    padding-top: 10px;
    margin: 0;
    position: relative;
    float: left;
    width: 150px;
  }
}


/*END_SHOW_USER_AND_CRAFTER*/

/*REGISTRATION_AND_EDITOR_PAGE*/
.login_title{
  text-align: center;
  margin: 0 auto;
  width: 65%;
}

.left{
  text-align: left;
  width: 100%;
}

.login_form, .reg_form{
  margin: 0 auto;
  width: 360px;
}

.reg_form{
  width: 100%;
  padding-top: 25px;
}

.register-btn{
  /*float: left;*/
}

.login_form #check_box, .reg_form #check_box{
  margin-left: 0 !important;
}

.login_form .label_login, .reg_form .label_login{
  margin-top: 10px;
  font-weight: 300;
}


.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

/*TABS*/
#info, #category, #logo_and_images, #password {position: fixed; }

.menu1 #info:target ~ a:nth-of-type(1),
.menu1 #category:target ~ a:nth-of-type(1),
.menu1 #logo_and_images:target ~ a:nth-of-type(1),
.menu1 #password:target ~ a:nth-of-type(1),
.menu1 > div {
  padding: 5px;
  border: 1px solid #aaa;
  border-bottom: none;
}

.menu1 > div{
  border: 1px solid #aaa !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: none !important;
}

.menu1 > a {
  padding: 5px;
  line-height: 28px;
  background: #fff;
  text-decoration: none;
  border: 1px solid #aaa;
  border-bottom: none;
}

#info, #category,#logo_and_images,#password, .menu1 > div,
.menu1 #info:target ~ div:nth-of-type(1),
.menu1 #category:target ~ div:nth-of-type(1),
.menu1 #logo_and_images:target ~ div:nth-of-type(1),
.menu1 #password:target ~ div:nth-of-type(1) {display: none; }

.menu1 > div:nth-of-type(1),
.menu1 #category:target ~ div:nth-of-type(2),
.menu1 #logo_and_images:target ~ div:nth-of-type(3),
.menu1 #password:target ~ div:nth-of-type(4) { display: block; }

.menu1 > a:nth-of-type(1),
.menu1 #info:target ~ a:nth-of-type(1),
.menu1 #category:target ~ a:nth-of-type(2),
.menu1 #logo_and_images:target ~ a:nth-of-type(3),
.menu1 #password:target ~ a:nth-of-type(4) { border-bottom: 2px solid #fff; }
/*END_TABS*/

.info_reg{
  border: 1px solid rgba(38, 38, 38, 0.2);
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  min-height: 430px;
  margin-bottom: 30px;
}

.image_block{
  margin-bottom: 30px;
  display: inline-block;
}

.delete_profile{
  font-weight: normal;
  margin-top: 100px;
}

.delete_profile_button{
  margin-top: 90px;
}

.modal-footer input{
  margin-top: 20px;
}


.albums{
  float: left;
  width: 100%;
  padding-top: 15px;
  button{
    font-size: 15px;
    margin-top: 20px;
  }
  .your_albums_line{
    width: 100%;
    float: left;
    .btn_album:hover{
      transaction: 0.3s;
      background: rgba(16, 16, 16, 0.06);
    }
  }

  // delete free space in divs
  .masonry-container {
    -moz-column-count: 3;
    -moz-column-gap: 0;
    -webkit-column-count: 3;
    -webkit-column-gap: 0;
    column-count: 3;
    column-gap: 10px;
  }

  .masonry-container, .item {
    //    display: inline-block;
    width: 100%;
  }

  .slide_image{
    width: 100%;
  }
  // end

  .your_albums{
    float: left;
    width: 100%;
    margin-bottom: 10px;
    .you_album{
      float: left;
      width: 125px;
      height: 113px;
      margin-right: 5px;
      margin-bottom: 20px;
      border-radius: 15px;
      background: rgba(16, 16, 16, 0.05);
    }
  }
}

.modal_form_albums{
  float: left;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.upload_text{
  margin-bottom: 25px;
}

.line_bottom{
  margin-top: 15px;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
}


/*END_TABS*/

/*END_REGISTRATION_AND_EDITOR_PAGE*/

/*INFO_LINKS*/
.info_links{
  height: 190px;
  background: #e1e4e5;
  .height_90{
    height: 90%;
  }
  .block_links{
    margin-top: 10px;
    padding-bottom: 10px;
    float: left;
    font-style: italic;
    line-height: 15px;
    width: 100%;
    border-right: 1px solid rgba(46, 47, 48, 0.3);
  }
  .table_border{
    border-right: 1px solid rgba(46, 47, 48, 0.3);
    height: 100%;
  }
  a, p{
    float: left;
    width: 60%;
    margin-left: 50px;
    margin-top: 15px;
  }
  p{
    margin-bottom: -5px;
  }
  .social_links{
    margin-left: 56px;
    a{
      float: left;
      width: 40px;
      margin-left: 0;
      margin-right: 15px;
      padding-left: inherit;
    }
  }
}
/*END_INFO_LINKS*/

/*FOOTER*/

#footer{
  position: relative;
  margin-top: -380px;
  height: 315px;
  clear:both;
}

.footer{
  height: 190px;
  background: #6dcff6;
  font-size: 10px;
  color: #736e6e;
  padding-top: 30px;
  padding-left: 40px;
}

.footer_catalog{
  height: 190px;
  width: 400px;
}

.footer_catalog a{
  text-decoration: none;
}

.column{
  -webkit-column-width: 110px;
  -moz-column-width: 110px;
  column-width: 110px;

  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;

  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px;

  -webkit-column-rule: 1px solid #ccc;
  -moz-column-rule: 1px solid #ccc;
  column-rule: 1px solid #ccc;
}

/*END_FOOTER*/

@media (min-width: 450px) and (max-width: 767px) {
  .logo{
    font-size: 10px;
    a{
      text-align: center;
    }
  }
  #imaginary_container{
    width: auto;
    text-align: -webkit-center;
  }
  .menu_right{
    margin-top: 15px;
    //    text-align: center;
    text-align: left;
    position: inherit;
  }
  .search_result{
    /*left: 15%;*/
    display: table;
    margin: 0 auto;
  }
  .company_logo{
    height: 100px;
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .company_logo, .company_name,
  .address, .description_search, .city{
    float: left;
  }
  .company_name{
    font-weight: bold;
  }
  .description_search {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px 5px 5px 0;
    text-overflow: ellipsis;
  }
}

@media (min-width: 768px) and (max-width: 930px) {
  .logo{
    font-size: 10px;
    a{
      text-align: center;
    }
  }
  .search_input {
    width: 270px;
  }
  .menu_right{
    margin-top: 15px;
    //    text-align: center;
    text-align: left;
  }
  .company_logo{
    height: 100px;
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .company_logo, .company_name,
  .address, .description_search, .city{
    float: left;
  }
  .company_name{
    font-weight: bold;
  }
  .description_search {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px 5px 5px 0;
    text-overflow: ellipsis;
  }
}

@media (min-width: 931px) {
  .logo{
    font-size: 9px;
    text-align: center;
  }
  .search_input {
    width: 140px;
  }
  #imaginary_container{
    width: auto;
  }
  .menu_right{
    margin-top: 15px;
    text-align: left;
  }
  .company_logo{
    height: 100px;
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .company_logo, .company_name,
  .address, .description_search, .city{
    float: left;
  }
  .company_name{
    font-weight: bold;
  }
  .description_search {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px 5px 5px 0;
    text-overflow: ellipsis;
  }
}


