//@media (min-width: 480px){}
//@media (min-width: 768px){}

@media (min-width: 1024px) and (max-width: 1279px){
  .container-fluid_index{
    min-width: 1024px;
    max-width: 1270px;
  }

  .menu_head{
    float: right !important;
  }

  .menu_left{
    min-width: inherit;
  }

  .menu_right .login {
    width: 35%;
    margin-left: 40px;
    margin-top: 5px;
    .exit {
      font-size: 19px;
    }
  }

  .fixed_menu{
    .info{
      display: table;
      line-height: 0;
      position: relative;
      width: 100%;

      .index, .order_menu, .categories_menu, .meeting_menu,
      .cart_menu, .rows_menu, .orders_menu, .create_question{
        font-size: 17px;
        display: table-cell;
        vertical-align: middle;
      }

      .index{
        margin-left: 15px;
      }

      .rows_menu button{
        padding: 17px;
      }

      .rows_menu button:hover{
        padding: 17px;
      }

      .cart_menu{
        vertical-align: middle;
        margin-top: -8px;
        float: left;
        a{
          float: left;
          margin-left: 10px;
        }
      }

    }

    .info:after {
      width: 100%;
      height: 0;
      visibility: hidden;
      overflow: hidden;
      content: '';
      display: inline-block;

    }

  }
}

@media (min-width: 1280px){

  .menu_head{
    width: 100%;
    float: right !important;
  }

  .fixed_menu{
    .info{
      display: table;
      line-height: 0;
      position: relative;
      width: 100%;

      .index, .order_menu, .categories_menu, .meeting_menu,
      .cart_menu, .rows_menu, .orders_menu, .create_question{
        display: table-cell;
        vertical-align: middle;
      }

      .index{
        margin-left: 15px;
      }

      .rows_menu button{
        padding: 17px;
      }

      .rows_menu button:hover{
        padding: 17px;
      }

      .cart_menu{
        vertical-align: middle;
        margin-top: -8px;
        float: left;
        a{
          float: left;
          margin-left: 10px;
        }
      }

    }

    .info:after {
      width: 100%;
      height: 0;
      visibility: hidden;
      overflow: hidden;
      content: '';
      display: inline-block;

    }
  }

  .hot_product{
    margin-bottom: -385px;
    display: inline-block;
    background: #ffffff;
    max-width: 1280px;
    //min-width: 1150px;
    margin-left: 25px;
    height: 400px;
    .title{
      font-size: 25px;
      padding-top: 30px;
      margin-left: 80px;
      color: #515151;
      font-weight: bold;
      font-style: italic;
      float: left;
    }
    .products{
      float: left;
      width: 100%;
      height: 320px;
      #slideshowIndex #slidesContainerIndex {
        width: 90% !important;
        height: 320px;
        overflow: auto;
        position: relative;
        margin: 0 30px;
        .product{
          float: left;
          width: 265px !important;
          height: 160px;
          position: relative;
          padding-top: 10px;
          padding-left: 5px;
          z-index: 100;
          text-align: center;
          border: 1px solid #ffffff;
          .image{
            float: left;
            img{
              max-height: 125px;
            }
          }
          .product_title{
            float: left;
            width: 130px;
            text-align: left;
            font-size: 14px;
            line-height: 5px;
            height: 30px;
            overflow: hidden;
            padding-left: 10px;
            font-weight: bold;
            font-style: italic;
            a {
              color: #057e89;
              margin-bottom: 15px;
              line-height: 15px;
            }
            p{
              line-height: 10px;
            }
          }
          .info{
            float: left;
            width: 130px;
            height: 50px;
            text-align: center;
            padding-left: 10px;
            padding-top: 10px;
            .params{
              float: left;
              width: 65%;
              p{
                font-size: 10px;
                line-height: 5px;
              }
            }
            .sale{
              float: left;
              font-size: 14px;
              font-weight: bold;
              font-style: italic;
              .second_part_new_price{
                margin-top: 5px;
                color: #f28709;
                font-size: 12px;
                span{
                  color: #000000;
                  font-size: 12px;
                  margin-left: 2px;
                }
              }
            }
          }
        }
      }
    }

  }


}