<p>Здравствуйте <%= @resource.email %>!</p>

<p>Кто-то запросил ссылку, чтобы изменить пароль. Вы можете сделать это по ссылке ниже.</p>

<p><%= link_to 'Изменить мой пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если вы не запрашивали этого, не обращайте внимания на это письмо.</p>
<p>Ваш пароль не изменится до тех пор, пока Вы не перешли по указанной выше ссылке.</p>
