= link_to image_tag('contacts/velcom.png')+'937 99 92', nil
br
= link_to image_tag('contacts/mts.png')+'937 99 92', nil
br
= link_to image_tag('contacts/life.png')+'937 99 92', nil
br
button.btn.btn-default[type="button"]
  | Заказать звонок