a> href='url1' Velcom +375 (44) 937 99 92
br
a> href='url3' MTC +375 (33) 937 99 92
br
a> href='url2' Life +375 (25) 937 99 92
br
a> href='url4' Viber +375 (29) 937 99 92
br
button.btn.btn-default[type="button"]
  | Заказать звонок