=link_to 'Главная', '/'
=link_to 'О компании', '/static_pages/about_us'
=link_to 'Покупателю', '/static_pages/for_you'
=link_to 'Отзывы о нас', '/static_pages/review'
=link_to 'Текущая СП: 12', '/'
.course
  p Курс на 01.01.16:<br> 302 BYR